// Functions
@mixin transition($time, $type)
  -webkit-transition: all $time $type
  -moz-transition: all $time $type
  -ms-transition: all $time $type
  -o-transition: all $time $type
  transition: all $time $type

@mixin border-radius($radius)
  -webkit-border-radius: $radius
  -moz-border-radius: $radius
  border-radius: $radius

@mixin transform($property)
  -webkit-transform: rotate($property)
  -moz-transform: rotate($property)
  -ms-transform: rotate($property)
  -o-transform: rotate($property)
  transform: rotate($property)