//
// Hierapolis Bootstrap Admin Theme
// Main Sass
// Lab2023
//

@import 'bootstrap-sprockets'
@import 'bootstrap'
@import 'functions'
@import 'variables'
@import 'views/comments'

body, html
  width: 100%
  height: 100%
  margin: 0
  padding: 0