!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/

    -# Google Fonts
    %link{:href => "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=latin-ext", :rel => "stylesheet"}/

    -# Page Title
    %title Hierapolis Bootstrap Admin Theme

    -# CSS
    = stylesheet_link_tag 'main'

  %body

    -# Main Container
    #main-container

      -# Header
      = partial 'layouts/partials/header'

      -# Yield Content
      = yield

      -# Footer
      = partial 'layouts/partials/footer'

    -# JavaScript
    = javascript_include_tag 'application'
